{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}

<div class="w-full flex justify-center">
    <div class="w-11/12">
        <h1 class="h3 mb-3 font-weight-normal text-center font-bold underline my-8">Ajout d'article :</h1>

        {% include "partials/Forms/Form.html.twig" with { 'button_color': 'blue', 'button_label': 'Ajouter' } %}
   </div>
</div>
{% endblock %}
