{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="w-full flex justify-center">
    <div class="w-11/12">
        <h1 class="h3 mb-3 font-weight-normal text-center font-bold underline my-8">Connexion Utilisateur :</h1>

        {% include "partials/Forms/Form.html.twig" with { 'button_color': 'green', 'button_label': 'Se Connecter' } %}
   </div>
</div>
{% endblock %}
