{% set errorPage = true %}

{% extends 'base.html.twig' %}

{% block title %}Accès Interdit{% endblock %}

{% block body %}

	<div class="h-screen flex flex-col justify-evenly justify-center items-center">
		<div class="text-center">
			<div class="tracking-widest mt-4 mb-8">
				<h1 class="text-red-500 text-6xl block underline mb-4">Accès Interdit</h1>
				<p class="text-red-800 text-xl">Désolé, vous n'avez pas accés à cette partie !</p>
			</div>
			<div class="flex justify-center items-center">
				<img src="{{ asset('images/errors/error403.gif') }}" class="border border-0 h-96 rounded-xl shadow-xl" alt="xxx">
			</div>
		</div>
		<div class>
			<a href="/home" class="text-blue-900 font-mono text-xl bg-blue-200 p-3 rounded-md hover:shadow-md">Retour à la page d'accueil</a>
		</div>
	</div>

{% endblock %}
